<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}
<body>
    <main id="main" role="main">
        {{ partial "header.html" . }}

        <div id="main-content" class="container container-narrow">
            {{ block "main" . }}
            {{ end }}
        </div>

        {{ partial "footer.html" . }}
    </main>
    <div id="lightbox-overlay" class="lightbox-overlay">
        <span class="lightbox-close">&times;</span>
        <img class="lightbox-content" id="lightbox-img">
        <div id="lightbox-caption"></div>
    </div>
    {{ $js := resources.Get "js/script.js" | resources.Minify | resources.Fingerprint }}
    <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>
</body>
</html>