<footer id="main-footer" class="pt-4 pb-4">
    <div class="container container-narrow border-top pt-5">
        <div class="row">
            <div class="col-lg-5">
                <div class="footer-brand">
                    <h2 class="footer-brand__name">>_ izcuyt.com</h2>
                    <p class="footer-brand__desc">
                        Aspiring Web Pentester<br>Sharing security knowledge about Cyber Security.
                        <br><br>
                        Made by <b>@cuyt</b> with love. ♥️
                    </p>
                </div>
                <div class="footer-socials mt-4">
                    <a href="https://www.facebook.com/100024860571867" target="_blank" class="footer-social-btn"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/koanbunbo/" target="_blank" class="footer-social-btn"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://github.com/quyt0" target="_blank" class="footer-social-btn"><i class="fa-brands fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/doanduyphuc/" target="_blank" class="footer-social-btn"><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href="mailto:dphuc2304@gmail.com" target="_blank" class="footer-social-btn"><i class="fa-solid fa-envelope"></i></a>
                </div>
            </div>

            <div class="col-lg-1 d-none d-lg-block">
                <div class="footer-divider"></div>
            </div>

            <div class="col-6 col-lg-3">
                <h3 class="footer-title">This site</h3>
                <ul class="footer-list">
                    <li><a href="/">Blog</a></li>
                    <li><a href="/categories">Categories</a></li>
                    <li><a href="/archives">Archives</a></li>
                </ul>
            </div>

            <div class="col-6 col-lg-3">
                <h3 class="footer-title">Connect</h3>
                <ul class="footer-list">
                    <li><a href="/cv">Resume</a></li>
                    <li><a href="mailto:dphuc2304@gmail.com">Email</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>