<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{ if .IsHome }}
        {{ .Site.Title }}
        {{ else if eq .Kind "term" }}
        {{ title .Data.Singular }}: {{ .Title }} | {{ .Site.Title }}
        {{ else }}
        {{ .Title }} | {{ .Site.Title }}
        {{ end }}
    </title>
    <link rel="stylesheet" href="/css/normalize.min.css">
    <link rel="stylesheet" href="/css/bootstrap-grid-5.3.8.css">
    <link rel="stylesheet" href="/css/fontawesome-7.1.0/css/all.min.css">
    {{ $syntax := resources.Get "css/syntax.css" | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $syntax.RelPermalink }}" integrity="{{ $syntax.Data.Integrity }}">
    <link rel="icon" type="image/png" href="/images/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="blog của Cuýt" />
    <link rel="manifest" href="/images/site.webmanifest" />
    <link rel="preload" href="/fonts/JetBrainsMono/JetBrainsMono-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <script src="/js/fuse.basic.min.js"></script>
    {{ $css := resources.Get "css/style.css" | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
    {{- $desc := "" -}}
    {{- with .Params.description -}}
    {{- $desc = . -}}
    {{- else -}}
    {{- if .IsPage -}}
        {{- $desc = (.Summary | plainify | htmlUnescape | truncate 160) -}}
    {{- else -}}
        {{- with .Site.Params.description -}}
        {{- $desc = . -}}
        {{- end -}}
    {{- end -}}
    {{- end -}}
    
    {{- if $desc -}}
    <meta name="description" content="{{ $desc }}">
    {{- end -}}

</head>