<header id="main-header" class="mt-4">
    <div class="container container-narrow">
        <div class="row align-items-center">
            <div class="col-3">
                <div class="main-header__homepage">
                <a href="/" class="main-header__hompage-link">Cuýt</a>
                </div>
            </div>
            <div class="col-6">
                <nav class="main-header__navbar">
                <ul class="main-header__navbar-list">
                    <li><a href="/">Blog</a></li>
                    <li><a href="/categories">Categories</a></li>
                    <li><a href="/archives">Archives</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
                </nav>
            </div>
            <div class="col-3 text-end">
                <div class="main-header__btn">
                    <div class="main-header_search-wrapper">
                        <i class="fa-solid fa-magnifying-glass main-header__search-icon"></i>
                        <input type="text" class="main-header__search-box" placeholder="Search...">
                        <ul id="main_header__search-results"></ul>
                    </div>
                    <button class="main-header__btn-toggle-theme" type="button" aria-label="Toggle theme">
                        <i class="fa-solid fa-moon" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>